@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .row {
        display: block;
    }
    .col {
        width: 100%;
    }
    #chart_div {
        width: 510px;
        height: 150px;
    }
    #risco_retorno_div {
        width: 225px;
        height: 125px;
    }
    #area_div {
        width: 225px;
        height: 125px;
    }
    #donutchart_div {
        width: 225px;
        height: 125px;
    }
    #setor_div {
        width: 225px;
        height: 125px;
    }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .row {
        display: flex;
        align-items: center;
        
    }
    
    .col {
        width: 50%;
        padding: 1rem;
    }   

    #chart_div {
    width: 1020px; 
    height: 300px;
    }

    #risco_retorno_div {
        width: 450px;
        height: 250px;
    }
    #area_div {
        width: 450px;
        height: 250px;
    }
    #donutchart_div {
        width: 450px;
        height: 250px;
    }
    #setor_div {
        width: 450px;
        height: 250px;
    }
  }